<!doctype html>
<html>
    <head>
        <title container="title"></title>

        {% style_tags "admin:basic" %}
        {% head_scripts "ajax:jquery,admin:head" %}
    </head>

    <body>
    	{% if user.is_authenticated() %}
        <div id="side-bar" container="sidebar"></div>

        <div id="{% block main_id %}main{% endblock %}" class="{% block main_class %}with-middle{% endblock %}">

            {% block main %}
			<div id="module">
				{% container "content" %}
                {% container "submenu" %}
			</div>

			<div id="module-form_container">
				<ul id="notifications">
					{% container "notifications" %}
				</ul>

				{% container "module_form" %}
			</div>
            {% endblock %}
		</div>
		{% else %}
			{% container "login" %}
		{% endif %}

        {% body_scripts "ajax:base,ajax:history,admin:base,admin:form" %}
    </body>
</html>
