<table id="nav">
	<thead>
		<tr>
			{% for column in columns %}
				<th class="column-{{ column.name }}"><a href="{{ column.sort_url }}">{{ column.title }}{% if sorted.by == column.name %}{% if sorted.order == "asc" %}&darr;{% else %}&uarr;{% endif %}{%endif%}</a></th>
			{% endfor %}
		</tr>
	</thead>
    <tbody>
        {% for raw_obj in paginator.get_list() %}
        {% set obj = prepare_object(raw_obj) %}
        <tr>
            {% for cell in obj.cells %}
            <td class="column-{{ cell.column.name }}">
                {% if cell.link %}<a href="{{ cell.link }}">{% endif %}
                {#{% if cell.display != "" %}{{ cell.column.title }}: {% endif %}#}{{ cell.display }}
                {% if cell.link %}</a>{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
