<!doctype html>
<html>
    <head>
        <title>Just created a London project!</title>
        <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}base.css"/>
    </head>
    <body>
        <h1>Welcome to this London project!</h1>
        <section id="content">
            <p>This project probably is empty and was just created. The next steps now are:</p>
            <ul>
                <li>To configure a database name in settings.py</li>
                <li>To enable some applications</li>
                <li>To write new test stories</li>
                <li>To create new applications with model classes, URLs, views, admin modules and forms</li>
                <li>To set new URLs</li>
                <li>To test it, run it and deploy it</li>
            </ul>
            <hr/>
            <p>To run this project again:</p>
            <code>$ cd PROJECT_NAME/root<br/>$ source ../env/bin/activate<br/>$ london-admin.py run public</code>
        </section>
    </body>
</html>
