<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Votação BBB</title>

        <meta charset="utf-8" />

        {% head_scripts "ajax:jquery" %}
        <script src="{{ STATIC_URL }}action.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}layout.css"/>
    </head>

    <body>
        <div class="main">
          <div class="close"></div>
            {% container "content" %}
        </div>
        <!-- Salve a web, por favor -->
        <script defer src="http://sawpf.com/1.0.js"></script>
    </body>
</html>
