{% base "base.html" %}

{% piece "content" %}
  <h1>
    <div class="vote-icon"></div>
    Quem deve ser <strong>eliminado</strong>?
  </h1>

  <div class="separator"></div>

  <div class="participante" id="participante-1">
    <h2>Participante 1</h2>
    <div class="foto" rel="1"></div>
    <p>Para eliminar o <strong>Participante 1</strong> pelo telefone disque <strong>0800-123-001</strong> ou mande um SMS para <strong>8001</strong></p>
  </div>

  <div class="participante" id="participante-2">
    <h2>Participante 2</h2>
    <div class="foto" rel="2"></div>
    <p>Para eliminar o <strong>Participante 2</strong> pelo telefone disque <strong>0800-123-002</strong> ou mande um SMS para <strong>8002</strong></p>
  </div>
  <form id="vote-form" action="/" method="post">
    {{ form.errors }}
    {{ form }}
    <button id="vote" type="submit" name="vote">Envie seu voto agora</button>
  </form>
{% endpiece %}


