<!doctype html>
<html>
    <head>
        <style>
            h2 {
                margin: 10px 0 0 0;
            }
            table.modules {
                border: 1px solid silver;
                border-style: solid none none solid;
                border-spacing: 0;
            }
            table.modules td {
                padding: 5px;
                border: 1px solid silver;
                border-style: none solid solid none;
            }
            .module {
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h1>{{ site }} REST API</h1>

        <table class="modules">
            {% for module in modules %}
            <tr>
                <td>{{ module }}</td>
                <td>{{ module.url }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
