{# Based on django-pagination project. All rights reserved. #}

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous() %}
        <a href="?_page={{ page_obj.previous_page_number() }}{{ query_params }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% if page == page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?_page={{ page }}{{ query_params }}" class="page">{{ page }}</a>
            {% endif %}
        {% else %}
        <span class="gap">...</span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next() %}
        <a href="?_page={{ page_obj.next_page_number() }}{{ query_params }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}

