{% extends "themes/base.html" %}
{% piece "title" %}Home{% endpiece %}

{% piece "extra_head" %}
<style>
    #forms {display: table; overflow:hidden; width:700px; border-spacing:5px;}
    #forms form {display: table-cell; overflow:hidden; width:50%; border:1px solid silver; padding:10px; background:#f7f7f7;}
    #forms form h3 {margin:0; font-size:1em;}
</style>
{% endpiece %}

{% piece "content" %}
<h1>Themes</h1>

<div id="middle">
    <div id="forms">
        <form method="post">
          <h3>{{ "New theme" }}:</h3>
            <input type="text" name="name"/>
            <input type="submit" value="{{ "Create" }}"/>
        </form>

        {#<form method="post" enctype="multipart/form-data" action="{% url themes_import %}">
          <h3>{{ "Import theme" }}:</h3>
            <input type="file" name="file"/>
            <input type="submit" value="{{ "Import" }}"/>
          </form>#}
    </div>

    <ul id="themes">
        {% for theme in themes %}
        <li><a href="/themes/{{theme.name}}/">{{ theme }}</a> {% if theme.is_default%}- default{% endif %}</li>
        {% endfor %}
    </ul>

    {% if previewing %}
    <p>
    {{ "Previewing" }} - <a href="/themes/disable_preview/">{{ "Disable previewing mode." }}</a>
    </p>
    {% endif %}
</div>

<footer>
Powered by <a href="http://ace.ajax.org/">Ace - Ajax.org Cloud9 Editor</a>
</footer>
{% endpiece %}
