{% base "admin/base.html" %}

{% piece "title" %}Deleting a {{ object_verbose_name }}{% endpiece %}

{% piece "module_form" %}

<h1>Deleting a {{ object_verbose_name }}</h1>

<h2><span>Deleting a {{ object_verbose_name }}</span></h2>

<form method="post" class="module-form-delete" action="{{ request.path_info }}">
    <a href="../" class="edit" rel="forcehistory">Back to edit {{ object_verbose_name }}</a>
    <input type="hidden" name="confirm" value="1"/>
    <input type="submit" value="Confirm to Delete"/>
</form>

<script>
    london_admin.page_type = 'module_delete';
</script>
{% endpiece %}
