{% base "admin/base.html" %}

{% piece "title" %}{{ object_verbose_name }}s{% endpiece %}

{% piece "submenu" %}
<ul>
    <li><a href="{{ admin_site.get_module_add_url(request) }}" rel="forcehistory">Add a new {{ object_verbose_name }}</a></li>
    {#<li><a href="{{ admin_site.get_module_serialize_url(request) }}">Download serialized</a></li>#}
</ul>
{% endpiece %}

{% piece "content" %}
{% include "admin/piece_list.html" %}

<script>
    {% if request.GET._ignore_module_form %}if (london_admin.page_type != 'module_form'){% endif %}
        london_admin.page_type = 'module_list';
</script>
{% endpiece %}

{% if not request.GET._ignore_module_form %}
{% piece "module_form" %}{% endpiece %}
{% endif %}

